#squareid {
  font: 24px menlo,"courier new",monospace;
}

#squareid > tr > td {
  padding: 8px;
}

#helpbox {
  height: 340px;
  scroll: auto;
}

#message {
  font: 14px menlo,"courier new",monospace;
  width: 85%;
}

.tt {
  font-family: menlo,monospace;
}

#squaretable {
  text-align: center;
}

